# Permitir CORS e métodos HTTP necessários
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type"

# Forçar todas as requisições a serem tratadas como PHP
<FilesMatch "^[^.]+$">
    SetHandler application/x-httpd-php
</FilesMatch>